<template name="intake">
  <div class="container" style="margin-top: 10vh">
    <div class="row">
      <div class="col-md-12 ">
        <div class="jumbotron">
          <h1 class="display-4">New User Intake</h1>
          <hr class="my-4">
          <div class="form-group">
            <label for="intakeCAC">Scan New User's CAC</label>
            <input type="text" name="intakeCAC" class="form-control" id="intakeCAC" aria-describedby="intakeCAChelp" placeholder="Scan your CAC Card...">
            <small id="intakeCAChelp" class="form-text text-muted">Scan the barcode just below your picture on your Military ID (CAC).</small>
          </div>
          <div class="form-group">
            <label for="intakeCAC">Enter New User's DOB (YYYYMMDD)</label>
            <input type="text" name="DOB" class="form-control" id="DOB" aria-describedby="DOBChelp" placeholder="Enter DOB YYYYMMDD">
            <small id="DOBChelp" class="form-text text-muted">Enter the Newjoin's DOB using the standard military date format.</small>
          </div>
          <div class="form-group">
            <label for="intakeCAC">Enter User's Phone Number</label>
            <input type="text" name="phone" class="form-control" id="phone" aria-describedby="phonelp" placeholder="Enter phone number...">
            <small id="phonehelp" class="form-text text-muted">Enter the Newjoin's phone number.</small>
          </div>
          <div class="form-group">
            <label for="roomKey">Enter Room Key Serial Number</label>
            <input type="number" name="roomKey" class="form-control" id="roomKey" aria-describedby="phonelp" placeholder="Enter serial number...">
            <small id="roomKeyHelp" class="form-text text-muted">On the back of the key card there is a serial number, enter that number.</small>
          </div>
          <button class="register btn btn-lg btn-primary">Register New User</button>
          <br/>
          <p><span class="result"></span></p>
        </div>
      </div>
    </div>
  </div>
</template>
<template name="purge">
  <div class="container" style="margin-top: 10vh">
    <div class="row">
      <div class="col-md-12 ">
        <div class="jumbotron">
          <h1 class="display-4">Purge User Data</h1>
          <hr class="my-4">
          <div class="form-group">
            <label for="purgeCAC">Scan CAC you would like to purge...</label>
            <input type="text" name="purgeCAC" class="form-control" id="purgeCAC" aria-describedby="purgeCAChelp" placeholder="Scan your CAC Card...">
            <small id="purgeCAChelp" class="form-text text-danger">This will delete all records this user is involved in.</small>
          </div>

          <button class="purge btn btn-lg btn-primary">Purge User</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="marDetail">
  <div class="container-fluid" style="margin-top: 10vh">
    <div class="row">
      <div class="col-md-12 ">
        <div class="col-md-10 offset-md-1 jumbotron">
          <h3 class="display-8">Records for {{ Name }} ({{edipi}})</h3>
          {{#if DOB}}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <h4 for="name">Name</h4>
                <input type="text" name="Name" class="form-control" id="Name" value="{{Name}}">
              </div>
              <div class="form-group">
                <h4 for="name">Date of Birth</h4>
                <input type="text" name="DOB" class="form-control" id="Name" value="{{DOB}}">
              </div>
              <div class="form-group">
                <h4 for="name">Phone</h4>
                <input type="text" name="Phone" class="form-control" id="Name" value="{{Phone}}">
              </div>
              <div class="form-group">
                <h4 for="name">Room Key Serial</h4>
                <input type="text" name="RoomKeySerial" class="form-control" id="Name" value="{{RoomKeySerial}}">
              </div>
              <div class="form-group">
                <h4 for="name">Class Number</h4>
                <input type="text" name="classNumber" class="form-control" id="Name" value="{{classNumber}}">
              </div>
              <button class="btn btn-outline-success save" style="width:100%">Save Record (if changes made)</button>
            </div>
            <div class="col-md-6">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Names</th>
                    <th scope="col">Location</th>
                    <th scope="col">Time Out</th>
                    <th scope="col">Sign In</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each record}}
                    <tr>
                      <td>{{firstName}} / {{secondName}}{{#if thirdName}} / {{thirdName}}{{/if}}</td>
                      <td>{{#markdown}}{{destination}}{{/markdown}}</td>
                      <td>{{signOut}}</td>
                      <td>{{#if signIn}}{{signIn}}{{else}}<span class="text-danger">Never Signed Back In</span>{{/if}}</td>
                    </tr>
                  {{else}}
                    <p>No records for this DOD ID.</p>
                  {{/each}}
                </tbody>
              </table>

  </div>
          </div>
          {{else}}
          No data found for this EDIPI
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="manual">

  <div class="row">
    <div class="container jumbotron" style="margin-top: 10vh;">
      <h1>Manual Sign Out</h1>
      <a href="/" title="Home" class="btn btn-outline-primary">Home</a>
      <hr />
      <div class="form-group">
        <label for="primaryCAC">First Name</label>
        <input type="text" name="primaryCAC" class="form-control" id="primaryCAC" aria-describedby="pCAChelp" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="primaryCAC">First Phone</label>
        <input type="text" name="fPhone" class="form-control" id="primaryCAC" aria-describedby="pCAChelp" placeholder="First Phone">
      </div>
      <div class="form-group">
        <label for="secondaryCAC">Second Name</label>
        <input type="text" name="secondaryCAC" class="form-control" id="secondaryCAC" aria-describedby="sCAChelp" placeholder="Second Name">
      </div>
      <div class="form-group">
        <label for="primaryCAC">Second Phone</label>
        <input type="text" name="sPhone" class="form-control" id="primaryCAC" aria-describedby="pCAChelp" placeholder="Second Phone">
      </div>
      <div class="form-group">
        <label for="secondaryCAC">Third Name (optional)</label>
        <input type="text" name="thirdCAC" class="form-control" id="thirdCAC" aria-describedby="sCAChelp" placeholder="Third Name">
        <small id="tCAChelp" class="form-text text-muted">Scan the barcode just below your picture on your Military ID (CAC).</small>
      </div>
      <div class="form-group">
        <label for="primaryCAC">Third Phone (optional)</label>
        <input type="text" name="tPhone" class="form-control" id="primaryCAC" aria-describedby="pCAChelp" placeholder="Third Persons's Phone Number">
      </div>
      <div class="form-group">
        <label for="secondaryCAC">Destination</label>
        <input type="text" name="destination" class="form-control" id="location" aria-describedby="loc" placeholder="Destination.">
        <small id="loc" class="form-text text-muted">Enter the exact location you are traveling to.</small>
      </div>
      <br />
      <span class="btn btn-lg signOut btn-primary">Sign Out&nbsp;<i class="fas fa-sign-out-alt"></i></span>
    </div>
  </div>

</template>

<template name="print">
  <div class="row">
    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Names</th>
            <th scope="col">Location</th>
            <th scope="col">Phone</th>
            <th scope="col">Time Out</th>
            <th scope="col">Time In</th>
          </tr>
        </thead>
        <tbody>
          {{#each primaryDB}}
            <tr>
              <td>{{firstName}} / {{secondName}}{{#if thirdName}} / {{thirdName}}{{/if}}</td>
              <td>{{#markdown}}{{destination}}{{/markdown}}</td>
              <td>{{phoneOne}}<br />{{phoneTwo}}<br />{{phoneThree}}</td>
              <td>{{signOut}}</td>
              <td>{{#if signIn}}{{signIn}}{{else}}
                  <div style="color: red;">FAILED TO SIGN IN</div>
                {{/if}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    window.print();
  </script>
</template>


<template name="classManager">

  <div class="container-fluid" style="margin-top: 5vh">
    <div class="row">
      <div class="col-md-10 offset-md-1 jumbotron">
        <h1 class="display-4"><i class="fas fa-address-book"></i> Class Manager</h1>
        <hr/>

        <div class="row">
          <div class="col-md-3">

            <div class="row">
              <div class="col-md-6">
                <h4>Active Classes</h4>
                </div>
                <div class="col-md-2 offset-md-2">
                  <a href="/new/class" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> New Class</a>
                </div>
            </div>
            <div class="list-group">
            {{#each classes}}
              <a href="/class/{{_id}}" class="list-group-item list-group-item-action">{{ classNumber }}&nbsp;<span class="badge badge-secondary">{{mos}}</span></a>
            {{/each}}
            </div>

          </div>
          <div class="col-md-9">
            <h4>Class Detail View</h4>
            <!-- class detail -->
            <div style="background: #fff; border-radius: 5px">
              <div style="padding: 10px">
                <h5>{{classNumber}}&nbsp;<span class="badge badge-secondary">{{mos}}</span></h5>
                <dl class="row">
                  <dt class="col-sm-3">Created On</dt>
                  <dd class="col-sm-3">{{createDate}}</dd>

                  <dt class="col-sm-3">Graduation Date</dt>
                  <dd class="col-sm-3">{{gradDate}}</dd>

                  <dt class="col-sm-3">Faculty Advisor</dt>
                  <dd class="col-sm-3">{{facultyAdvisor}}</dd>

                  <dt class="col-sm-3">Class Size</dt>
                  <dd class="col-sm-3">{{classSize}}</dd>

                </dl>
                <button class="btn btn-sm btn-warning archive">Checkout/Close Class</button>
                <br/><br/>
                <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Last First</th>
      <th scope="col">EDIPI</th>
      <th scope="col">Age</th>
      <th scope="col">Room Key</th>
      <th scope="col">Admin</th>
    </tr>
  </thead>
  <tbody>
    {{#each students}}
    <tr>
      <th scope="row">{{Name}}</th>
      <td>{{edipi}}</td>
      <td>AGEME{{DOB}}</td>
      <td>{{ RoomKeySerial}}</td>
      <td><a href="/view/{{edipi}}" class="badge badge-success"><i class="fas fa-edit"></i></a> &nbsp;<a href="#"  class="badge checkout badge-danger"><i class="fas fa-sign-out-alt"></i></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<template name="newClass">
  <div class="container" style="margin-top: 10vh">
    <div class="row">
      <div class="col-md-12 ">
        <div class="jumbotron">
          <h1 class="display-4">Create New Class</h1>
          <hr class="my-4">
          <div class="form-group">
            <label for="number">Class Number</label>
            <input type="text" name="number" class="form-control" id="number" placeholder="10-19">
            <small class="form-text">Enter the new class nubmer. IE) 10-19</small>
          </div>
          <div class="form-group">
            <label for="number">MOS/School House</label>
            <input type="text" name="school" class="form-control" id="school" placeholder="Food Service">
            <small class="form-text">School House: Food Service, Air Delivery, Bulk Fuel, PRP.</small>
          </div>
          <div class="form-group">
            <label for="fa">Faculty Advisor</label>
            <input type="text" name="fa" class="form-control" id="fa" placeholder="SSgt Greer">
            <small class="form-text">Enter the Faculty Advisor's Rank and Name.</small>
          </div>
          <div class="form-group">
            <label for="fa">Graduation Date</label>
            <input type="text" name="grad" class="form-control" id="grad" placeholder="20190213">
            <small class="form-text">Enter Anticipated Graduation Date</small>
          </div>
          <div class="form-group">
            <label for="edipiList">Paste List of EDIPI's</label>
            <textarea class="form-control" id="edipiList" rows="5"></textarea>
          </div>
          <button class="create btn btn-lg btn-primary">Create Class</button>
        </div>
      </div>
    </div>
  </div>
</template>
